{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Home"%}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="main" id="index">
            <h1>{{party.name}}</h1>

            <div id="party-manifesto">
                {{party.text|safe}}
            </div>

            <div class="table-responsive">
                <table class="table table-stripped">
                    <thead>
                        <th>#</th>
                        <th>Agindua</th>
                        <th>Agindua beteta?</th>
                    </thead>
                    <tbody>
                        {% for promise in promises %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>
                                <a href="{% url 'promise_view' promise.slug %}">{{promise.title}}</a>
                            </td>
                            <td>
                                {% if promise.fulfilled %}
                                <span class="glyphicon glyphicon-ok" />
                                {% else %}
                                <span class="glyphicon glyphicon-remove" />
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>
            {{party.name}}
        </h2>
        <p>
            <a href="{% url 'party_view' party.slug%}">
                <img src="{{party.logo.url}}" width="300" height="150"/>
            </a>
        </p>
        <h3>Hautagai-zerrenda</h3>
        {{party.candidates|linebreaks}}


    </div>
</div>
{% endblock %}
