{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Home"%}{% endblock %}
{% block content %}
<div class="main" id="index">
<h1>{{party.name}}</h1>


    <div class="table-responsive">
        <table class="table table-stripped">
            <thead>
                <th>
                    #
                </th>
                <th>
                    Agindua
                </th>
                <th>
                    Agindua beteta?
                </th>
            </thead>
            <tbody>
                {% for promise in promises %}
                <tr>
                    <td>
                        {{forloop.counter}}
                    </td>
                    <td>
                        <a href="{% url 'promise_view' promise.slug %}">
                            {{promise.title}}
                        </a>
                    </td>
                    <td>
                        {% if promise.fulfilled %}
                            <span class="glyphicon glyphicon-ok" />
                        {% else %}
                            <span class="glyphicon glyphicon-remove" />
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
