{% extends "base.html" %}
{% load i18n %}
{% block title %}{{promise.title}} - {{promise.party.name}} - aginduak.eibar.org{% endblock %}
{% block content %}
<div class="main" id="index">
    <div class="row">
        <div class="col-md-8">
            <div id="promise-contents">
                <h1>{{promise.title}}</h1>
                <p>
                    <strong>Data:</strong> {{promise.date_promised|date:'Y-m-d'}}
                </p>
                <div id="promise-contents">
                    {{promise.text|safe}}
                </div>
                {% if promise.source_promise_url %}
                <p><a href="{{promise.source_promise_url}}">{{promise.source_promise_url}}</a></p>
                {% endif %}
            </div>
            <div id="fulfillment">
                <h2>Agindutakoa beteta?</h2>
                {% if promise.fulfilled %}
                    <strong>Data:</strong>{{promise.fulfillment_date}}
                    <div id="fulfillment-text">
                        {{promise.fulfillment_proof}}
                    </div>
                {% else %}
                <span class="glyphicon glyphicon-remove" /> <strong>Daturik ez.</strong>
                {% endif %}
            </div>

            <div id="comments">
                <h2>Eman zure iritzia agindutako honen inguruan</h2>
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                    /* * * CONFIGURATION VARIABLES * * */
                    var disqus_shortname = 'aginduakeibarorg';

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>
                    Please enable JavaScript to view the
                    <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
                </noscript>
            </div>
        </div>
        <div class="col-md-4">
            <h2>
                <a href="{% url 'party_view' promise.party.slug%}">
                    {{promise.party.name}}
                </a>
            </h2>
            <img src="{{promise.party.logo.url}}" width="300" height="150"/>
            <h3>Hautagai-zerrenda</h3>
            {{promise.party.candidates|linebreaks}}

        </div>
    </div>
    {% endblock %}
